:root{
    --pm: rgb(255, 255, 255);
    --bgColor: rgb(41, 41, 41);
    --bg-tt: color-mix(in srgb, var(--bgColor), rgba(40, 40, 40, 0.4) 80%);
    --accColor: rgb(219, 14, 185);
    --acc-btn: color-mix( in srgb, var(--accColor), var(--pm) 20%);
    --acc-mixed: color-mix( in srgb, var(--accColor), var(--pm) 10%);
    --btn: color-mix( in srgb, rgba(0, 0, 0, 0), var(--pm) 10%);
    --btn-hvr: color-mix( in srgb, rgba(0, 0, 0, 0), var(--pm) 20%);
    --outline: 0px 1px 1px 1px var(--btn);
    --rad: 20px;
    --per-mg: calc(var(--margin) / 2);
    --margin: 10px;
    --ui-height: 40px;
    --in-title: calc(var(--ui-height) - var(--margin));
    --easeIn: ease-in 0.2s;
    --easeOut: ease-out 0.2s;
}
/* UI */
titleBar {
    position: fixed;
    top: env(titlebar-area-y, 0);
    height: env(titlebar-area-height, var(--ui-height));
    left: env(titlebar-area-x, 0);
    width: env(titlebar-area-width, 100%);
    app-region: drag;
    -webkit-app-region: drag;
    background: var(--bg-tt);
    backdrop-filter: blur(20px);
    border-bottom: solid 1px var(--btn);
}
#logo{
    top: var(--per-mg);
    margin-left: var(--per-mg);
    fill: var(--acc-btn);
    height: 100%;
}
#baka {
    fill: var(--acc-btn);
}
btns {
    position: fixed;
    user-select: none;
    top: var(--per-mg);
    right: var(--per-mg);
    app-region: no-drag;
    -webkit-app-region: no-drag;
}
btns button {
    height: var(--in-title);
    width: var(--in-title);
    background: var(--btn);
    border-radius: var(--rad);
    border: none;
    cursor: pointer;
    transition: var(--easeOut);
}
btns button:hover {
    background: var(--btn-hvr);
    transition: var(--easeIn);
}
btns button svg {
    fill: var(--acc-btn);
    transform: translate(-5px, 0px);
}
/* site */
html, body {
    padding-top: calc(var(--margin) * 2);
    background: var(--bgColor);
    overflow: hidden;
}
h1 {
    color: var(--pm);
}
.main {
    height: 93vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* toolbar */
.toolbar{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    position: fixed;
    width: 100%;
    bottom: 1rem;
}
.btnBar{
    width: fit-content;
    height: fit-content;
    background: var(--bg-tt);
    backdrop-filter: blur(20px);
    box-shadow: var(--outline);
    border-radius: var(--rad);
    user-select: none;
}
.btnBar button {
    background: none;
    border: none;
    margin-top: var(--per-mg);
    margin-bottom: var(--per-mg);
    size: 100px;
    fill: var(--acc-btn);
    padding-inline: 3px;
    transition: var(--easeOut);
}
.btnBar button:hover {
    fill: var(--acc-mixed);
    transform: translateY(-5px);
    transition: var(--easeIn);
}
#vaultIMG{
    margin-left: var(--per-mg);
}
#vaultIMG:hover{
    transform: none;
    animation: roll 0.5s;
}
@keyframes roll {
    from { transform: rotate(0deg); }
    to { transform: rotate(45deg); }
}
#divider{
    color: var(--acc-btn);
    display: inline-block;
}
/* options page */
.optionsPage {
    position: fixed;
    animation: pop 0.5s;
    width: 10rem;
    height: 100%;
    right: 0rem;
    bottom: 0rem;
    top: env(titlebar-area-height, var(--ui-height));
    padding: var(--margin);
    background: var(--bg-tt);
    backdrop-filter: blur(20px);
    border-left: solid 1px var(--btn);
}
@keyframes pop {
	from { width: 0rem; }
	to { width: 10rem; }
}
.options {
    margin-right: var(--per-mg);
}
/* fixes */
.no-margin {
    margin: 0px !important;
}
.hidden {
    opacity: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--acc-btn);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--acc-mixed);
}
::-webkit-scrollbar-track {
    background-color: var(--btn);
}